extends ./_layout.pug

block vars
  - var title = 'Forms'

block content
  .grid-fluid
    .row.xs-center
      form.grid-fluid
        .row
          .col.xs.form-group
            input
            label First Name
          .col.xs.form-group
            input
            label Last Name
        .row
          .col.xs.form-group
            input
            label Address Line 1
        .row
          .col.xs.form-group
            input
            label Address Line 2
            .messages
              small.helper-text PO Box, Suite, etc.
        .row
          .col.xs-8.form-group
            input
            label City
          .col.xs-4.form-group
            select
              option Alabama
              option California
              option Texas
              option West Virginia
            label State
        .row
          .col.xs-8.form-group
            input
            label Postal Code
            .messages
              small.helper-text US only, please
        .row.xs-end
          .col.xs-6
            button.button-primary Submit
